.jumbotron{
    background-color: #943126 ;
    color: whitesmoke;
    padding: 10px 0px;
    margin: 55px 0px 20px 0px;
}

.breadcrumb{
    margin: 0px 0px 10px;
}

.card{
    margin-top: 4px;
}

.card-img-top{
    width: 100%;
    height: 250px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

.redes a{    
    text-decoration: none;
    color: whitesmoke;
}

footer{
    background-color: #943126 ;
    color: whitesmoke;
    margin: 20px 0px 0px;
    padding: 20px 0px 10px;
}

footer h5{        
    margin-bottom: 16px;
}

.row {
    margin-left: 0; margin-right: 0; 
}

.tab-content{
    margin-top: 10px;
}