@red: #943126;
@yellow: #F1C40F;
@green: #27AE60;

.margins (@top: 0px, @right: 0px, @bottom: 0px, @left: 0px) {
    margin: @top @right @bottom @left;
}

.paddings (@top, @right, @bottom, @left) {
    padding: @top @right @bottom @left;
}

.jumbotron{
    background-color: @red;
    color: whitesmoke;
    padding: 10px 0px;
    .margins(55px, 0px, 20px, 0px);
}

.breadcrumb{
    .margins(0px, 0px, 10px, 0px);
}

.card{
    margin-top: 4px;
}

.card-img-top{
    width: 100%;
    height: 250px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

.redes a{    
    text-decoration: none;
    color: whitesmoke;
}

footer{
    background-color: @red;
    color: whitesmoke;
    .margins(20px, 0px, 0px, 0px);
    padding: 20px 0px 10px;
}

footer h5{        
    margin-bottom: 16px;
}

.row {
    margin-left: 0; margin-right: 0; 
}

.tab-content{
    margin-top: 10px;
}