$red: #943126;
$yellow: #F1C40F;
$green: #27AE60;

@mixin margins ($top, $right, $bottom, $left) {
    margin: $top $right $bottom $left;
}

@mixin paddings ($top, $right, $bottom, $left) {
    padding: $top $right $bottom $left;
}

.jumbotron{
    background-color: $red;
    color: whitesmoke;
    padding: 10px 0px;    
    @include margins(55px, 0px, 20px, 0px);
}

.breadcrumb{
    @include margins(0px, 0px, 10px, 0px);
}

.card{
    margin-top: 4px;    
}

.card-img-top{
    width: 100%;
    height: 250px;
}

@media (min-width: 576px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 768px) {
    .card-columns {
        column-count: 3;
    }
}

.redes a{    
    text-decoration: none;
    color: whitesmoke;
}

footer{
    background-color: $red;
    color: whitesmoke;
    @include margins(20px, 0px, 0px, 0px);
    padding: 20px 0px 10px;
}

footer h5{        
    margin-bottom: 16px;
}

.row {
    margin-left: 0; 
    margin-right: 0;
}

.tab-content{
    margin-top: 10px;
}